#logo {
	display: inline-block;
}

#logo img {
    width: 140px;
    height: 42px;
}

.square-image {
    text-align: center;
}

.square-image img {
	max-width: 100%;
	max-height: 100%;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.count {
	white-space: nowrap;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
	cursor: pointer;
}

#price .rangepicker-selection {
	background: red;
}